.new_collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    max-width: 100%;
    margin-bottom: 100px;
}
.new_collections h1{
    color:#171717;
    font-size: 50px;
    font-weight: 600;
}
.new_collections hr{
    width: 200px;
    height: 06px;
    border-radius: 10px;
    background: #252525;
}

.collections_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}
@media (max-width:1280px) {
    
    .new_collections h1{
        font-size: 40px;
    }
    .new_collections hr{
        width: 170px;
        height: 5px;
    }
    .collections_wrapper{
        gap:20px;
        margin-top: 30px;
    }
}
@media (max-width:1024px) {
    
    .new_collections h1{
        font-size: 30px;
    }
    .new_collections hr{
        width: 120px;
        height: 3.5px;
    }
    .collections_wrapper{
        gap:15px;
        margin-top: 22px;
    }
}
@media (max-width:800px) {
    .new_collections{
        margin: 0 auto;
        max-width: 95%;
        overflow: hidden;
    }
    .collections_wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px !important;
        width: 90vw;
        
    }
    .item{
        width: 95%;

    }
    .new_collections h1{
        font-size: 20px;
    }
    .new_collections hr{
        width: 100px;
        
    }
    .collections_wrapper{
        gap:40px 15px;
        
    }
}
@media (max-width:500px) {
    .new_collections{
       margin-top: 50px;
    }
    .collections{
        display: flex;
         
    }
    .collections_wrapper{
        
        grid-template-columns: 1fr 1fr;
        gap: 20px !important;
        
        justify-items: center;
    }
    .item{
        width: 100%;
    }
    
}